image: docker:latest

services:
  - docker:dind
stages:
  - build
  - deploy
  
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  REGISTRY_URL: registry.digitalocean.com
  DOCKER_IMAGE: $REGISTRY_URL/sc-projects-repository/palmer-asia/telemarketing-production
  DOCKER_AUTH_CONFIG: $CI_PROJECT_DIR/docker-config.json
  KUBE_NAMESPACE: "telemarketing-production"
  CI_COMMIT_REF_NAME: "master"
  HELM_REPO_URL: "git@gitlab.com:asiapalmer885/telemarketing-app-charts.git"  # Update this with your actual Helm repository URL
  VALUES_FILE_PATH: values-telemarketing-production.yaml

before_script:
  - docker info
build:
  stage: build
  script:
    - docker build -t $DOCKER_IMAGE:$CI_PIPELINE_IID -f Dockerfile .
    - mkdir -p $HOME/.docker
    - cp $DOCKER_AUTH_CONFIG $HOME/.docker/config.json
    - docker images
    - docker push $DOCKER_IMAGE:$CI_PIPELINE_IID
  only:
    - master
deploy:
  stage: deploy
  script:
    - apk add --no-cache curl
    - curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    - chmod 700 get_helm.sh
    - sh ./get_helm.sh
    - apk add git yq
    - echo "https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com" > ~/.git-credentials
    - git config --global credential.helper store
    - git clone https://gitlab.com/asiapalmer885/telemarketing-app-charts.git ./charts
    - cd ./charts
    - yq e '.image.tag = env(CI_PIPELINE_IID)' -i $VALUES_FILE_PATH
    - mkdir -p ~/.kube
    - export KUBECONFIG=kubeconfig.yaml
    - echo "$KUBE_CONFIG" | base64 -d > ~/.kube/config
    - ls
    - helm upgrade --install telemarketing-production . --namespace $KUBE_NAMESPACE --values $VALUES_FILE_PATH
  only:
    - master