.wrapper:before {
    background: #960301 !important;
}

.profile-logo {
    border: 5px solid #960301 !important;
}

.btn-primary {
    background: #960301 !important;
    border: 0px !important;
}

table#generated_table a {
    color: #3f3f3f !important;
}

nav.navbar.navbar-expand.navbar-theme {
    background: #960301 !important;
}