.toggle-container {
    position: relative;
    width: 50px;
    height: 24px;
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 12px;
    cursor: pointer;
}

.toggle::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.4s;
}


input[type="checkbox"]:checked + .toggle {
    background-color: #66bb6a;
}

input[type="checkbox"]:checked + .toggle::before {
    transform: translateX(26px);
}

.toggle-container {
    display: flex;
    align-items: center; /* Aligns items vertically */
}
